
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        Start Date: <input id="startDate" type="text" value="8/6/2008"/>
        Number of days: <input id="numberDays" type="text" value="8" />
        Country Code: <input id="countryCode" type="text" />

        <div class="calendar-wrapper">
            <div id="divCal"></div>
        </div>

    </div>

    <script src="~/Scripts/jsCalendar.js"></script>
</body>
</html>
